.intro{
  text-align: center;
}
.button-holder{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.intro-response{
  font-size: 6em;
  font-weight: bold;
}

.button{
  background-color: #212121;
  color: #FAFAFA;
  font-weight: bold;
  text-align: center;
  font-size: large;
  border: 2px solid #212121;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.5s ease, background-color 0.5s ease-out;

  &:hover{
    font-size: x-large;
    background-color: #424242;
    border: 2px solid #424242;
  }
}
