body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1.4s linear infinite;
    @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
  }
}

.fade{
  opacity: 0;
  transition: all 0.5s ease;
}
